# compiled output
/dist
/node_modules

# logs
npm-debug.log
yarn-error.log

# test coverage
/coverage

# config settings
/test/config
/config

# ide
.idea/
.vscode/
*.swp
*.iml

# mac
.DS_Store

# environment variables
.env
.env.test
.env.production
